form{

    color: #000000;
    border: 2px solid rgb(250, 8, 8);}

form{
    align-items: center;
    
    
}
.container{

}
.image1 {
    align-items: center
    
    
    ;

}
.mhr{
    text-align: left 20%;
    text-align: justify;
    margin-left: 50px;
    width: 30%;
    align-items: center;
    justify-content: center;
}